html { 
margin: 0;
padding: 0;
background-color: rebeccapurple;
color: snow;
font-family: sans-serif;

}
h1 { min-height: 20vh; margin: 2vw; }
h2 { font-weight: normal; margin: 2vw; } 



.centered {
  display: block;
  margin: auto;
  min-height: 10vh;
  max-height: 20vh;
  min-width: 20vw;
  max-width: 45vw;
  
  color: snow;
  background-color: crimson;
  box-shadow: firebrick 2px 2px;
  border: 0;
  font-weight: bold;
  border-radius: 10px;
}
